@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'cart_items';
@import 'products';
@import 'purchases';
@import 'sessions';
@import 'users';

$bg_color: lighten(black, 10%);
$txt_color: lighten(#333333, 10%);
body {
  background: $bg_color;
  color: $txt_color;
  font-family: Courier New;
  font-weight: 600;
}

a {
  color: $txt_color;
}

input {
  height: 20px;
}

.btn-default {
  background-color: $bg_color;
  color: $txt_color;
}
.header {
  height: 70px;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}

.header-text {
  font-size: 3em;
}

.sidebar {
  padding: 0;
}

.sidebar-link {
  margin-top: 1em;
}

.list-header-text {
  font-size: 2em;
}

.sort-bar {
  height: 40px;
  line-height: 40px;
}

.sort-elem {
  display: inline-block;
  margin: 0 0.25em;
}

.limit-elem {
  display: inline-block;
  margin: 0 0.25em;
  line-height: 1em;
}

.list-item {
  font-size: 1.5em;
  margin-top: 1em;
}

.details {
  padding: 0;
}

.thumbnail {
  width: 60px;
  margin-top: 8px;
}

.show-details {
  margin-top: 1.5em;
  font-size: 1.5em;
}

.show-image {
  width: 120px;
}

.description {
  margin-top: 1em;
  font-size: 0.75em;
}
